:root{
    font-size: 16px;
}
*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box
}
:root{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(60deg,rgb(27, 26, 26),gray);
}